# 1). Create a tuple called data with two values, (1, 2) and (3, 4)

In [2]:
data = ((1,2),(3,4) )
print(data)
type(data)

((1, 2), (3, 4))

tuple

# 2). Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [1]:
no=[4,3,2,1]
print(no)
type(no)

[4, 3, 2, 1]

list

# 3). Create a copy of the number list using [:]

In [3]:
num_copy=no[:]
num_copy

[4, 3, 2, 1]

# 4). Sort the numbers list in numerical order

In [5]:
no.sort()
no

[1, 2, 3, 4]

# 5). Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [6]:
cardinal_numbers=('first','second','third')
cardinal_numbers

('first', 'second', 'third')

# 6) Display the second object in the above tuple

In [7]:
cardinal_numbers[1]

'second'

# 7). Unpack the tuple into three strings and display them

In [8]:
position1,position2,position3=cardinal_numbers
print(position1)
print(position2)
print(position3)

first
second
third

# 8). Create a tuple containing the letters of your name from a string

In [9]:
my_name=tuple("Tapas Pradhan")
my_name

('T', 'a', 'p', 'a', 's', ' ', 'P', 'r', 'a', 'd', 'h', 'a', 'n')

# 9). Check whether or not x is in my_name

In [10]:
print("x" in my_name)

False

# 10). Check whether or not s is in my_name

In [11]:
print("s" in my_name)

True

In [12]:
print("s" not in my_name)

False